In [3]:
import pandas as pd

# initialize data of lists.
data = {'Values 6 months': [-2.154776667395886, -0.7637321430692485, -0.7637321430692485, -1.2925691449232661, -0.7637321430692485,
                            -0.7637321430692485, -2.1631165999264277, -0.7666259106902708, -0.7666259106902708],
         'Values 24 months':[-0.9316837086327906, -1.0358718821487063, -1.027436133960109, -0.8076617304541358, -0.8876072042393228,
                             -1.0365372147618543, -0.5300721337327156, -0.8441851847218036, -0.9900036810648443]}

# Creates pandas DataFrame.
df = pd.DataFrame(data, index=['100 10', '200 10', '300 10', '100 30', '200 30', '300 30', '100 50', '200 50', '300 50'])

# print the data

a = df['Values 6 months']
b = df['Values 24 months']
c= ((a+b)/ 2)
df['Average'] = c
df

        Values 6 months  Values 24 months   Average
100 10        -2.154777         -0.931684 -1.543230
200 10        -0.763732         -1.035872 -0.899802
300 10        -0.763732         -1.027436 -0.895584
100 30        -1.292569         -0.807662 -1.050115
200 30        -0.763732         -0.887607 -0.825670
300 30        -0.763732         -1.036537 -0.900135
100 50        -2.163117         -1.036537 -1.599827
200 50        -0.766626         -0.530072 -0.648349
300 50        -0.766626         -0.990004 -0.878315